@import "config";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: $Cream;
}

.card {
  width: 85%;
  max-width: 380px;
  border-radius: 1em;
  background-color: $White;

  .cardImage {
    img {
      width: 100%;
      border-radius: 1em 1em 0em 0em;
    }
  }

  .cardContent {
    padding: 1em 1.5em;

    h3 {
      color: $Darkgrayishblue;
      letter-spacing: .2em;
      font-weight: normal;
      font-family: "Montserrat";

    }

    h1 {
      font-weight: bold;
      margin-top: .5em;
      font-family: "Fraunces";
    }

    p {
      color: $Darkgrayishblue;
      line-height: 1.5em;
      margin: 1em 0em;
    }

    .promotion {
      display: flex;
      flex-direction: row;
      align-items: center;

      .price {
        font-size: 2em;
        color: $DarkCyan;

        font-family: "Fraunces";
      }

      .originalprice {
        color: $Darkgrayishblue;
        text-decoration: line-through;
        margin-left: 1em;
      }
    }

    button {
      width: 100%;
      height: 2.5em;
      margin-top: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $DarkCyan;
      border-radius: 8px;
      border: none;
      font-size: 1em;
      color: $White;
      font-weight: bold;

      img {
        margin-right: 0.5em;
      }
    }
  }
}